<footer class="footer">


<div class="level">
    <div class="level-item has-text-centered">
        <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank">
            <i class="fa fa-twitter" style="font-size:24px; margin-left: 0.5rem; margin-right: 0.5rem;"></i>
        </a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin.username }}" target="_blank">
            <i class="fa fa-linkedin" style="font-size:24px; margin-left: 0.5rem; margin-right: 0.5rem;"></i>
        </a>
        <a href="https://github.com/{{ site.github.username }}" target="_blank">
            <i class="fa fa-github" style="font-size:24px; margin-left: 0.5rem; margin-right: 0.5rem;"></i>
        </a>
        <a href="https://scholar.google.com/citations?user={{ site.scholar.username }}" target="_blank">
            <i class="fa fa-google" style="font-size:24px; margin-left: 0.5rem; margin-right: 0.5rem;"></i>
        </a>
    </div>
</div>


</footer>
