<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
</div>
<div>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li>
<li class="menu__entry"><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li>
<li class="menu__entry"><a href="{{ '/music' | prepend: site.baseurl }}">Music</a></li>
<li class="menu__entry"><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
</ul>
</div>
</header>

